.SectionMovies {
    padding: 20px 0;
    /* background-color: green; */
    
    .movieList {
        display: flex;
        margin-top: 10px;
        list-style: none;
        align-items: center;
        gap: 30px;
        overflow-x: scroll;
        position: relative;

        &::-webkit-scrollbar{
            background: none;
        }
        button{
            height: 300px;
            width: 20px;
            border: none;
            background-color: rgba(35, 35, 35, 0.366);
            position: absolute;
            top: 0;
            cursor: pointer;
            z-index: 1;
            &:hover{
                background-color: rgba(35, 35, 35, 0.66);
            }
        }
    }
    .buttonLeft{
        left: 0;
        
    }
    .buttonRight{
        right: 0;
        
    }
    .moviePoster {
        border-radius: 15px;
        position: relative;
        height: 300px;
        min-width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background-color: black;
        &:hover .movieInfo{
            display: block;
        }
        &:hover img{
            filter: blur(3px);
            height: 110%;
            opacity: 0.5;
        }
        img {
            height: 100%;
            box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
            transition: 0.2s;
           
        }
        .movieInfo{
            position: absolute;
            bottom: 0;
            height: 150px;
            padding: 0 10px;
            display: none;
            h3{
                font-size: 1rem;
                margin-bottom: 5px;
            }
            & > span{
                display: flex;
                gap: 10px;
                margin-bottom: 5px;
            }
            p{  
                font-size: 0.8rem;
            }
            .overViewMovie{
                overflow: hidden;
                width: 180px;
                height: 60px;
            }
        }
     
    }
}