.SectionMovies {
    padding-top: 40px;

    .movieList {
        position: relative;

        div {
            display: flex;
            margin-top: 10px;
            list-style: none;
            align-items: center;
            gap: 30px;
            overflow-x: scroll;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        button {
            height: 100%;
            width: 20px;
            border: none;
            background-color: rgba(35, 35, 35, 0.486);
            position: absolute;
            top: 0;
            cursor: pointer;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: rgba(35, 35, 35, 0.66);
            }
        }
    }

    .buttonLeft {
        left: 0;
    }

    .buttonRight {
        right: 0;
    }

    .moviePoster {
        border-radius: 15px;
        position: relative;
        height: 300px;
        min-width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background-color: black;

        &:hover .movieInfo {
            display: block;
        }

        &:hover img {
            filter: blur(3px);
            height: 110%;
            opacity: 0.5;
        }

        img {
            height: 100%;
            box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
            transition: 0.2s;
        }

        .movieInfo {
            position: absolute;
            bottom: 0;
            height: 180px;
            width: 100%;
            padding: 0 10px;
            text-align: center;
            display: none;

            h3 {
                font-size: 1rem;
                margin-bottom: 5px;
            }

            &>span {
                display: flex;
                justify-content: center;
                gap: 10px;
                margin-bottom: 5px;

                svg {
                    width: 0.8rem;
                    margin-right: 5px;
                }
            }

            p {
                font-size: 0.8rem;
            }

            .overViewMovie {
                overflow: hidden;
                height: 60px;
            }
        }

    }
}

@media (max-width: 920px) {
    .SectionMovies {
        .movieList {
            div {
                gap: 20px;
            }
        }

        .moviePoster {
            height: 250px;
            min-width: 166px;
        }
    }
}

@media (max-width: 768px) {
    .SectionMovies {
        .movieList {
            div {
                gap: 10px;
            }
        }

        .moviePoster {
            height: 200px;
            min-width: 133px;

            .movieInfo {
   
                h3 {
                    font-size: 0.8rem;
                }
    
                &>span {
                    svg{
                        width: 0.6rem;
                    }
                }
    
                p {
                    font-size: 0.6rem;
                }
    
            }
        }

    }
}