.swiper {
  width: 100%;

  .swiper-slide{
    height: 520px;
    border-radius: 15px;
    width: 920px;
    overflow: hidden;
    position: relative;
  }
  .slideBoxInfo{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .swiper-slide img{
    height: 520px;
    object-fit: contain;

  }
  .slideBoxDate,
  .slideBoxTitle {
    width: 400px;
    text-shadow: 0 0 20px rgb(0, 0, 0), 0 0 20px rgb(0, 0, 0), 0 0 20px rgb(0, 0, 0);
  }

  .slideBoxTitle {
    text-align: center;
    h2 {
      font-size: 2rem;
      margin-bottom: 5px;
      text-shadow: 0 0 20px rgb(0, 0, 0), 0 0 20px rgb(0, 0, 0);
    }
    /* background-color: red; */
  }

  .slideBoxDate {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    /* background-color: red; */
  }

  img {
    width: 100%;
  }
}